body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   background-color: #4AA9B9;
}

h1{color: rgb(27, 92, 92);
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {color: rgb(204, 170, 119);
   font-size: 30 px;
}

a {color: rgb(204, 126, 204);}