/* Header Styles */
.header {
    height: 250px;
    max-width: 500px;
    background-image: url(../images/upsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#pageTopic {
    text-align: center;
}
/* Primary Color */
.colorContainer {
    display: inline-block;
    margin: 15px;
}
.swatch {
    height: 200px;
    width: 170px;
    border: 1px solid black;
}
/* Typography CSS */

/* UI Elements */
